.color-linkedin {
    background-color: #2867B2;
    border-color: #2867B2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.color-github {
    background-color: #211F1F;
    border-color: #211F1F;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.color-email {
    background-color: #BB001B;
    border-color: #BB001B;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.navbar {
    margin-bottom: 50px;
}

.title {
    font-weight: normal;

}

a {
    color: black;
}

.big-link {
    font-size: 1.25rem;
}
